

<div class="container left" ng-controller="WorkPackageController as wpc" id="workPackageTable" style="width: 100%">
    <h1>Work Packages</h1>
    <div class="alert alert-success" role="alert" ng-if="statusMessage">{{statusMessage}}</div>
    <div class="pull-right div-stack">

        <button type="button" class="btn btn-success" name="createBtn">Create</span></button>
        <button type="button" class="btn btn-default">Filter</button>
    </div>


    <div class="pull-right div-stack">
        <button type="button" ng-click="wpc.addRow()"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" ng-click="wpc.saveRow()"><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
    <div>
    <table ng-table="wpc.tableParams" class="table table-striped table-bordered" show-filter="false">
        <tr ng-repeat="wPackage in $data">
            <td><input type="checkbox"/></td>
            <td title="'ID'" filter="{ id: 'number'}" sortable="'id'" ng-switch="wpc.isEditing">
                <span ng-switch-default>{{wPackage.id}}</span>
                <div ng-switch-when="true">
                    <input type="text" name="id" ng-model="wPackage.id" class="form-control" required />
                </div>
            </td>
            <td title="'Subject'" filter="{ subject: 'text'}" sortable="'subject'" ng-switch="wpc.isEditing">
                <span ng-switch-default>{{wPackage.subject}}</span>
                <div ng-switch-when="true">
                    <input type="text" name="subject" ng-model="wPackage.subject" class="form-control" required />
                </div>
            </td>
            <td title="'Type'" filter="{ type: 'text'}" sortable="'type'" ng-switch="wpc.isEditing">
                <span ng-switch-default>{{wPackage.type}}</span>
                <div ng-switch-when="true">
                    <!--<input type="text" name="type" ng-model="wPackage.type" class="form-control" required />-->
                    <select class="form-control" name="type" ng-model="wPackage.type" required>
                        <option>Task</option>
                        <option>Milestone</option>
                        <option>Feature</option>
                        <option>Bug</option>
                        <option>Epic</option>
                    </select>
                </div>
            </td>
            <td title="'Status'" filter="{ status: 'text'}" sortable="'status'" ng-switch="wpc.isEditing">
                <span ng-switch-default>{{wPackage.status}}</span>
                <div ng-switch-when="true">
                    <!--<input type="text" name="status" ng-model="wPackage.status" class="form-control" required />-->
                    <select class="form-control" name="status" ng-model="wPackage.status" required>
                        <option>New</option>
                        <option>Scheduled</option>
                        <option>In Progress</option>
                        <option>Developed</option>
                        <option>In testing</option>
                    </select>
                </div>
            </td>
            <td title="'Assignee'" filter="{ assignee: 'text'}" sortable="'assignee'" ng-switch="wpc.isEditing">
                <span ng-switch-default>{{wPackage.assignee}}</span>
                <div ng-switch-when="true">
                    <input type="text" name="assignee" ng-model="wPackage.assignee" class="form-control" required />
                </div>
            </td>

            <td>
                <button class="btn btn-danger" ng-click="wpc.deleteRow(wPackage)"><span class="glyphicon glyphicon-trash"></span></button>

            </td>
        </tr>
    </table>
    </div>


</div>