/* app css stylesheet */

.navbar-inverse {
    background-color: #002a51;
    border: 0;
    box-shadow: none;

}

#title-bar {
    background-color: #002a51;
}

.breadcrumb {
    background-color: darkgray;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.navbar-custom {
    color: #2e6da4;
    background-color: #2e6da4;
}

#main-content .col-lg-2, #main-content .col-lg-10 {
  height: 100vh;
}

#sidebar-menu, #breadcrumb-content {
    background-color: darkgray;
    border: 1px solid white;
}

.nav-item {
    border: 2px black;
    background-color: darkgray;
}

/*Side bar and navigation bar*/
a span {
    color: black;
    text-align: right;
}


.left {
    float: left;
}

#workPackageTable {
    /*background-color: red;*/
}

.table td {
    text-align: center;
}

.div-stack {
    float: left;
    clear: both;
}